*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base style */
body{
  font-family: "Manrope", sans-serif;
}
:root{
  --btn-color: #ABEF5F;
  --title-color: #212121;
  --sub-title-color: #494949;
  --min-sub-title-color: #737373;
  --sub-title-font-size: 1rem;
  --title-font-size: 2rem;
  --card-title-font-size: 1.25rem;
  --sub-title-font-weight: 500;
  --title-font-weight: 700;
  --some-title-font-weight: 800;
  --icon-background: #E9E9E9;
}

/* navbar a */
a {
  color: var(--sub-title-color);
  font-weight: var(--some-title-font-weight);
  font-size: var(--sub-title-font-size);
}
a:hover{
  font-weight: 400;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
/* header button */
.button{
  font-size: var(--card-title-font-size);
  font-weight: var(--some-title-font-weight);
  background-color: var(--btn-color);
  border-radius: 2rem;
}
/* all title */
.title{
  color: var(--title-color);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}
.hero-title{
  line-height: 30px;
}
/* all sub-title */
.sub-title{
  font-weight: var(--sub-title-font-weight);
  font-size: var(--sub-title-font-size);
  color: var(--sub-title-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
i{
  background-color: var(--icon-background);
  border-radius: 100%;
  padding: 8px;
}
/* main */
 .main-section{
  background-color: var(--icon-background);
}
.card-sub-title{
  font-weight: var(--sub-title-font-weight);
  font-size: var(--sub-title-font-size);
  margin-top: 20px;
 color: var(--min-sub-title-color);
}
.card-title{
  color: var(--sub-title-color);
  font-size: var(--card-title-font-size);
  font-weight: var(--some-title-font-weight);
}
.review-card{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  line-height: 24px;
}
.review-card img{
  margin-bottom: 20px;
}
.add-space{
  margin-top: 100px;
}
/*Our Works Process section */
.process-card > h4{
  color: #1C1C1C;
}
.process-card{
  padding: 24px;
  border-radius: 16px;
}
/* disscuss-section */
.disscuss-section{
  background-image: url(../assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}